.idea/
__pycache__/

# 忽略 data/ 文件夹下的所有文件
data/*
# 但不忽略 podcast.json 和 subscribe.json
!data/podcast.json
!data/subscribe.json

venv/
# Logs
*.log
115-cookies.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local
.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?