@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100vh;
}

html {
  background: #131313;
  color: #fff;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  background: #131313;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: rgba(255, 0, 0, 1);*/
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
}

/* 滚动条滑块-窗口激活 */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.15);
  /*-webkit-box-shadow:  rgba(255, 0, 0, 0);*/
}

/* 滚动条滑块-窗口失去焦点 */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.1);
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

.ant-dropdown-menu {
  /* background: rgba(255, 255, 255, 7%) !important; */
  background: #242424 !important;
  /* backdrop-filter: blur(18px) !important; */
  /* -webkit-backdrop-filter: blur(18px) !important; */
  border-radius: 8px !important;
  padding: 6px !important;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.5) !important;
}

.ant-dropdown-menu-item {
  min-width: 120px;
  border-radius: 5px !important;
  margin: 2px !important;
  padding: 8px !important;
  color: #fff !important;
}

.ant-dropdown-menu-item:hover {
  background: rgba(255, 255, 255, 1) !important;
  color: #000000 !important;
}
